.GameScreen {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.GameLocationImage {
  background: black;
}

.GameLocationImage img {
  width: 60vw;
  height: 55vh;
}

.GameAction {
  border-top: 1px solid black;
  background: #795547;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.GameAction button {
  background: silver;
  padding: 5px;
  margin-right: 0.2rem;
  min-width: 4rem;
}
@media only screen and (min-width: 320px) {
  .GameScreen {
    width: 100vw;
  }

  .GameLocationImage img {
    width: 100vw;
    height: 37vh;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .GameScreen {
    width: 100vw;
  }
  .GameLocationImage img {
    width: 100vw;
    height: 71vh;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .GameLocationImage img {
    width: 100vw;
    height: 81vh;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
