.GameScreen {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.GameLocationImage {
  margin: 0 auto;
  background: black;
}

.GameScreenHeader {
  background: #795548;
  border-bottom: 1px solid #2f1e1b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;

}

.GamePlayerStats {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.GamePlayerStats span:first-child{
  color: #FFC107;
}

.GameLocationImage img {
  width: 60vw;
  height: 55vh;
}

.GameAction {
  background: #795547;
  padding: 1rem;
}

.GameAction button {
  background: silver;
  padding: 5px;
  margin-right: 0.2rem;
  min-width: 4rem;
}
@media only screen and (min-width: 320px) {
  .GameScreen {
    width: 100vw;
  }

  .GameLocationImage img {
    width: 100vw;
    height: 37vh;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .GameScreen {
    width: 100vw;
  }
  .GameLocationImage img {
    width: 20vw;
    height: 35vh;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .GameLocationImage img {
    width: 60vw;
    height: 55vh;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
