.LocationPanel select {
  font-size: 20px;
  color: ghostwhite;
}

.LocationPanel select:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .LocationPanel select {
    font-size: 17px;
    color: #CDDC39;
  }
}